<mat-sidenav-container autosize>
  <mat-sidenav [opened]="isSidenavOpened" mode="side">
    <mat-nav-list>
      <a [ngClass]="{'mat-side-nav-minimized' : isSideNavMaximized == false}" [ngClass]="{'mat-side-nav-maximized' : isSideNavMaximized == true}" mat-list-item routerLink="home" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
        <div class="mat-icon-wrapper">
          <mat-icon>home</mat-icon>
        </div>
        <p *ngIf="isSideNavMaximized">Home</p>
      </a>

      <a [ngClass]="{'mat-side-nav-minimized' : isSideNavMaximized == false}" [ngClass]="{'mat-side-nav-maximized' : isSideNavMaximized == true}" mat-list-item routerLink="search" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>search</mat-icon>
        <p *ngIf="isSideNavMaximized">
          Search
        </p>
      </a>

      <a [ngClass]="{'mat-side-nav-minimized' : isSideNavMaximized == false}" [ngClass]="{'mat-side-nav-maximized' : isSideNavMaximized == true}" mat-list-item routerLink="info" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>info</mat-icon>
        <p *ngIf="isSideNavMaximized">
          Info
        </p>
      </a>

      <a [ngClass]="{'mat-side-nav-minimized' : isSideNavMaximized == false}" [ngClass]="{'mat-side-nav-maximized' : isSideNavMaximized == true}" mat-list-item routerLink="language" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>language</mat-icon>
        <p *ngIf="isSideNavMaximized">
          Lang
        </p>
      </a>

      <a [ngClass]="{'mat-side-nav-minimized' : isSideNavMaximized == false}" [ngClass]="{'mat-side-nav-maximized' : isSideNavMaximized == true}" mat-list-item routerLink="logout" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>logout</mat-icon>
        <p *ngIf="isSideNavMaximized">
          Logout
        </p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <button mat-raised-button color="primary" (click)="toggleSideNav()">{{ sidenavButtonText }}</button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="toggleSideNavSize()" mat-raised-button>{{ sidenavSizeButtonText }}</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>